#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ENG 0

/ {
    keymap {
        compatible = "zmk,keymap";

        engram {
            bindings = <
            &kp B  &kp Y  &kp O  &kp U  &kp SEMI    &kp Z  &kp L  &kp D  &kp W  &kp V
            &kp C  &kp I  &kp E  &kp A  &kp DOT    &kp Q  &kp H  &kp T  &kp S  &kp N
            &kp G  &kp X  &kp J  &kp K  &bootloader    &bootloader  &kp R  &kp M  &kp F  &kp P
            &kp SPC &kp TAB
            >;
        };
    };
};


