#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define ENG 0
#define SYM 1
#define NUM 2
#define SYS 3
#define MOU 4

/ {

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        blt: balanced_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAPS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        engram {
            bindings = <
            &kp B  &kp Y  &kp O  &kp U  &kp SEMI             &kp Z  &kp L  &kp D  &kp W  &kp V
            &bhm LSHIFT C  &bhm LALT I  &bhm LCTRL E  &bhm LGUI A  &kp FSLH    &kp Q  &bhm RGUI H  &bhm RCTRL T  &bhm RALT S  &bhm RSHIFT N
            &kp G  &kp X  &kp J  &kp K  &blt SYM SPC          &blt SYS DOT  &kp R  &kp M  &kp F  &kp P
            &blt NUM TAB                                      &kp COMMA
            >;
        };

        symbols {
            bindings = <
            &none  &kp HASH  &kp LBKT  &kp RBKT  &kp AT        &kp EXCL  &kp LT  &kp GT  &kp MINUS  &none
            &bhm LSHIFT DQT  &bhm LALT SQT  &bhm LCTRL LPAR  &CHM LGUI RPAR  &kp COLON    &kp STAR  &bhm RGUI LBRC  &bhm RCTRL RBRC  &bhm RALT PLUS  &bhm RSHIFT TILDE
            &none  &kp DLLR  &kp PIPE  &kp BSLH  &trans        &kp EQUAL  &kp PRCNT  &kp AMPS  &kp CARET  &none
            &trans                                             &kp UNDER
            >;
        };

        numbers {
            bindings = <
            &kp F13  &kp F11  &kp FSLH  &kp STAR  &kp N9                 &kp N8  &kp PLUS  &kp MINUS  &kp F12  &kp F14
            &kp N7  &kp N5  &kp N3  &kp N1  &kp SLASH              &kp F8  &kp N0  &kp N2  &kp N4  &kp N6
            &kp F7  &kp F5  &kp F3  &kp F1  &trans                    &kp EQUAL  &kp F10  &kp F2  &kp F4 &kp F6
            &trans                                                &kp F15
            >;
        };

        system {
            bindings = <
            &none  &kp BSPC  &kp UP  &kp DEL  &kp PG_UP           &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &none
            &none  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN       &kp C_BRI_DN  &kp C_PREV  &kp C_NEXT  &kp C_PP  &none
            &none  &kp CAPS  &kp HOME  &kp END  &kp RET           &trans  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
            &trans                                                         &bt BT_CLR
            >;
        };

        mouse1 {
            bindings = <
            &none  &none  &mmv MOVE_UP  &none  &none                         &none  &mwh SCROLL_UP   &none  &none  &none
            &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none    &none  &mwh SCROLL_LEFT  &mwh SCROLL_DOWN  &mwh SCROLL_RIGHT  &none
            &none  &none  &none  &none  &mkp LCLK                            &none  &none  &none  &none  &none
            &mkp RCLK                                                        &none
            >;
        };

    };
};
