if SHIELD_BANANABOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Bananaboard"

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y

endif

if SHIELD_BANANABOARD_LEFT || SHIELD_BANANABOARD_RIGHT

config ZMK_SPLIT
    bool
    default y

endif
